.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: "CabinetGrotesk-bold";
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__title {
  margin: 0;
  max-width: 300px;
  max-height: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.modal__close {
  position: absolute;
  padding: 0;
  top: 20px;
  right: 28px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  border: none;
  margin-top: 8px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #000000;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label {
  position: relative;
  width: 100%;
  height: 52px;
  margin-bottom: 24px;
}

.modal__label_type_radio {
  display: flex;
  height: 20px;
  margin-bottom: 8px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  width: 173px;
  height: 108px;
}

.modal__radio-input {
  margin: 0;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
