.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0 0 0 / 0.6);
  padding: 2px 12px;
  border-radius: 4px;
  background-color: #fff;
}

.card__image {
  width: 100%;
}
