.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  justify-content: space-between;
}

.header__add-clothes-btn {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__username {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__wrapper-left {
  display: flex;
  align-items: center;
}

.header__wrapper-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__signup-button {
  margin: 0 20px 0;
  padding: 0;
  border: none;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  transition: text-shadow 0.4s linear;
  text-shadow: none;
}

.header__log-in-button {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  transition: text-shadow 0.4s linear;
  text-shadow: none;
}
