.modal__content_type_image {
  height: 610px;
  padding: 0px !important;
  border-radius: 16px;
}

.modal__image {
  width: 100%;
  height: 498px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__footer {
  margin: 20px 32px 32px;
}

.modal__caption {
  margin: 0;
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.modal__name-delete {
  display: flex;
}

.modal__delete-button {
  border: none;
  background-color: transparent;
  margin: 0 0 12px;
  padding: 0;
  cursor: pointer;
}
