.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 56px;
  width: 229px;
}
.sidebar__username {
  font-size: 20px;
  line-height: 24.8px;
  font-weight: 700;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
}
.sidebar__user-info {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.sidebar__button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.sidebar__edit-profile-btn {
  margin: 24px 20px 0 0;
  padding: 0;
  border: none;
  font-family: "CabinetGrotesk-bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  transition: text-shadow 0.4s linear;
  text-shadow: none;
}

.sidebar__log-out-btn {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  font-family: "CabinetGrotesk-bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  transition: text-shadow 0.4s linear;
  text-shadow: none;
}
