.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 85px;
  max-width: 1440px;
  font-family: "CabinetGrotesk-medium";
  font-style: normal;
}

.footer__copyright {
  margin: 0;
}
